<div class="container py-3">
  <header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a [routerLink]="['/home']" class="d-flex align-items-center text-dark text-decoration-none">
        <img id="robot-logo" src="../../../assets/images/robot-logo.png" alt="Application logo">
        <span class="fs-4">Robot Delivery</span>
      </a>

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" [routerLink]="['/home']">Home</a>
      </nav>
    </div>
  </header>

  <main>
    <ng-content></ng-content>
  </main>

</div>
